.Pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title_pokedex { 
    text-align: center;
    color: gray
}

.win {
    color: #1EBB46;
}

.lose {
    color: #F54785;
}
